/* Page container */
.bookings-container {
    padding: 30px;
}

/* Title */
.bookings-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Table wrapper for scroll (important for small screens) */
.table-wrapper {
    overflow-x: auto;
}

/* Table styling */
.bookings-table {
    width: 100%;
    border-collapse: collapse;
    background: white;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Header */
.bookings-table thead {
    background: #007bff;
    color: white;
}

.bookings-table th {
    padding: 12px;
    text-align: left;
}

/* Rows */
.bookings-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

/* Zebra striping */
.bookings-table tbody tr:nth-child(even) {
    background: #f9f9f9;
}

/* Hover effect */
.bookings-table tbody tr:hover {
    background: #f1f7ff;
}

.btn-cancel {
    color:white;
    background-color: red;
    padding: 5px 20px;
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}